h1{

    border: 1px solid black;
    border-width: 5px 8px 6px 5px;
    width: 200px;
    margin: 50px auto;
    padding: 10px;
    padding-left: 39px;
    box-sizing: border-box;

}   

p{

    border: 1px solid black;
    width: 300px;
    margin: auto;
    padding: 50px;
    height: 150px;
    overflow: scroll;
    box-shadow: inset -10px -10px 180px red,
                 5px 5px 10px rgb(238, 222, 6);
                        
}

body{

    border: 1px solid rgb(231, 11, 11);
    height: 100vh;
}