h2{
   
    color: blue;
    font-size: x-large;
    text-align: center;
    
}
h2{

    color: rgb(4, 97, 109);
    font-size: x-large;
    text-align: center;
}
#abc{

    color: rgb(119, 128, 2) ;
}
.text{

    background-color: rgb(213, 248, 15);
}

*{

    font-family: monospace;
   
}

#a1{

    text-indent: 100px;
    text-transform: capitalize;
    font-weight: bold;
}

p::first-letter{

    font-size: 30px;
}