.index{

    border: 1px solid rgba(255, 255, 255, 0.918);
    width: 380px;
    height: 370px;
    margin-left: 770px;
    box-shadow:  3px 3px 2px rgba(223, 213, 213, 0.623), -3px -3px 2px rgba(223, 213, 213, 0.623);
   box-sizing: border-box;
   border-radius: 4px;
   background-color: white;
}
.a{

    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
input{
   border: 1px solid rgba(39, 32, 32,.3);
    width: 90%;
    height: 40px;
    text-align: center;
    border-radius: 5px;
   
    
}
.a button{
    width: 94%;
    height: 40px;
    border-radius: 5px;
    background-color: #0866ff;
    font-size: 22px;
    border: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.b{
  margin-left: 115px;
}

div  
    
.c{
   
   margin-top: 14px;
   margin-left:80px;
  

}
.c button{
    height: 40px;
    width: 233px;
    background-color: #42b72a;
    border: none;
    color: white;
}

hr{
   margin: 14px;
}
a{
    color: #0866ff;
}

h1{
    
    width: 300px;
    margin-top: 70px;
    font-size: 50px;
    padding-left: 850px;
    color: #0866ff;
}
body{
    background-color: rgb(244, 246, 248)
}

p{
    margin-left: 800px;

}
p a{
    margin-right: 8px;
    color: black;
    text-decoration:none;
}