.container{

    display: flex;
    border: 1px solid black;
    
}



.para1{
    background-color: rgb(0, 255, 191);
    padding: 10px;
    flex: 1;
    order: 2;
}
.para2{
    background-color: rgb(140, 120, 231);
    padding: 10px;
    flex: 2;
    order: 3;
}
.para3{
    background-color: rgb(255, 0, 140);
     flex: 1;
     order: 1;
}

p{

    padding: 20px;
    margin: 20px;  
    border: 1px solid black;

}
/*.container2{
     background-color: rgb(30, 210, 210);
    height: 800px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; 
    align-items: center;

    /* justify-content: space-between;
    /* justify-content: space-around; 
    justify-content: space-evenly;
    flex-wrap: wrap;
} */
.box{

    width: 180px;
    height: 180px;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 255, 255);
}
/* .box2{

    background-color: yellow;
    flex-grow: 1;
} */

@media (max-width:768px){

    .container{

        display: flex;
        flex-direction: column;
    }
}

@media (min-width:768px){

    .container{

        display: flex;
        flex-direction: row;
        
    }
}