body{

    background: url("../css/netflx.jpeg");

    background-size:cover;
    /* background-position: center; */
}

.loginform{

    font-size: 24px;
    color: white;
    background-color: rgba(17, 5, 5, 0.5);
    width: 400px;
    margin: 120px auto;
    padding: 20px;
    box-shadow: 3px 3px 3px 2px rgb(17, 2, 2),-3px -3px 7px 2px rgb(17, 2, 2);
    border-radius: 20px;
}
h2{
    color: rgb(1, 243, 223);
    text-align: center;
    text-transform: uppercase;
}
.textlabel{

       display: block;
       
}
.input input{

    width: 100%;
    font-size: 28px;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 0px snow;
    border-radius: 20px;

}

.btn{
    text-align: center;
    margin-top: 20px;
}
.btn button{

     text-align: center;
     margin: auto;
     width: 150px;
     font-size: 32px;
     padding: 10px;
     border-radius: 15px;
     background-color: rgb(255, 0, 64);

}

.radio input{

    transform: scale(2);
    margin-right: 20px;
}
.radio label{

    margin-right: 50px  ;
}

.btn button:hover{

    background-color: rgb(216, 0, 0);
}