.layout{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80vh 10vh 10vh;

    grid-template-areas: "h h h" "sb1 m sb2" "f f f";
    
}

.head{
     
    grid-area: h;
    
}
.main{

    grid-area: m;
}

.sb1{

    grid-area: sb1;
}
.sb2{

    grid-area: sb2;
}
.foot{

    grid-area: f;
}

.layout div{

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 36px;
    background-color: rgb(0, 225, 255);
   
}