.container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   grid-template-rows: 1fr 2fr 1fr ;
   /* grid-template-columns: repeat(3,1fr); */
   column-gap: 10px;
   row-gap: 10px;
   
}

.para{

    background-color: rgb(16, 151, 204);
}
.para1{

    grid-column: span 3;
}
.para2{

/* grid-row: span 2; */
}