.container{

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;



}

.Head{

    grid-column: span 6;
   
    background-color: blue;
    
}
.Menubar{

    grid-row: span 3;
   
    background-color: rgb(255, 72, 0);}
    

.sidebar{

    grid-row: span 3;
    background-color: blueviolet;
}
.Maincontent{
  
   grid-column: span 4;
   grid-row: span 3;
   background-color: brown;
   
}

.feedback1{

    grid-column: span 2;
    grid-row: span 2;
    background-color: rgb(0, 0, 116);
}
.feedback2{

    grid-column: span 2;
    grid-row: span 2;
    background-color: rgb(0, 0, 116);
}
.feedback3{

    grid-column: span 2;
    grid-row: span 2;
    background-color: rgb(0, 0, 116);
  

}
.footer{
    grid-row: span 2;
    grid-column: span 6;
    background-color: chartreuse;
}
.container div{

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 36px;
    box-sizing: border-box;
   color: white;

}