.box{
   /* border: 1x solid black;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    background: linear-gradient(to top right ,rgb(4, 4, 128),rgb(255, 0, 0));
    margin:100px auto; */
}   

html{

    font-size: 20px;
}
.box{

    font-size: 16px;
}
#para1{

    font-size: 2em;
}
#para2{

    font-size: 2rem;
}

.container{

    width: 50vw;
    height: 50vh;
    border: 1px solid black;
   box-sizing: border-box;
   padding: 10px;
 
}