
.main{

    border: 1px solid black;
    margin-left: 500px;
    margin-right: 520px;
    margin-top: 30px;
    height: 350px;
    padding-left: 55px;
    padding-top: 50px;
    border: 1px solid rgba(75, 52, 52,.25) ;
    
}
.b{
   
    margin-bottom: 25px;

}
.b input{

      height: 30px;
      width: 224px;
      font-size: 10px;
      border: 1px solid rgba(75, 52, 52,.25) ;
      border-radius: 3px;
      
}
.b button{

    height: 30px;
    width: 229px;
    border-radius: 3px;
    border: none;
    background-color: #0064e0;
    color: white;
   
}
p{
    margin-left: 100px;
    color: rgba(27, 14, 14, 0.55);
}
#ang{
    margin-left: 40px;
    text-decoration: none;
    color: #385185;
    
    font-size: 15px;
}

#fp{
    margin-left: 54px;
    margin-top: 20px;
}
img{

height: 40px;
margin-bottom: 10px;
margin-left: 35px;

}

.two{
  
    margin-left: 500px;
    margin-top: 30px;
    border: 1px solid rgba(75, 52, 52,.25) ;
    width: 313px;
    
    
}
.two #r{
    margin-left: 5px;
    color: #0866ff;
}

.two p{

    margin-left: 70px;
    color: black;
  
}
#app{

    margin-left: 490px;
    margin-top: 10px;
    width: 400px;   
}
#google{

    height:52px;
    width: 100px;
    
    margin-left: 10px;
    margin-bottom: 3px;
    
}
.apple{
   
    height: 35px;
    margin-left: 85px;
    padding: 1px;
}

.se{
    text-align: center;
}

li{
   
    display: inline;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.582);
    text-decoration: none;
    
}
.selec{

    background-color: rgba(255, 255, 255, 0.952);
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: rgba(0, 0, 0, 0.582);
    
    
}
span{
    color: rgba(0, 0, 0, 0.582);;
}
