.container{
    background:cover#c0787857;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.header{

grid-column: span 2;
}

.search{

    float: left;
    margin-left: 100px;
    margin-top: 10px;
    
    width: 60%;
    
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
   
    
}
.search input{

    width: 85%;
    height: 25px;
    /* margin-top: 10px;
    margin-left: 20px ; */
    border: 1px solid rgba(95, 32, 32,.6);
    
}

button{
    font-size: 0;
    padding: 11px 27px;
    width: 9%;
    vertical-align: middle;
    border: 1px solid #300d00;
    background-color: #300d00f5;
    color: white;

}
.pic{

    float: left;
}
body{

    background-color: rgba(245, 210, 207, 0.329);
}
.link{
  background-color: rgb(11, 116, 116);
  clear: both;
  height: 50px;
    grid-column: span 2;
}
li{
    
    color: white;
   display: inline;
   padding: 10px;
   padding-right: 30px;
}

li:hover{

    background-color: #300d0088;
}
a{
    color: white;
    list-style: none;
    text-decoration: none;
}

.sub1{

    float: left;
    margin-top: 20px;
}

.img{

    background-color: white;
}


.one{

    background-color: rgb(255, 255, 255);
    margin-top: 20px;
   
}
.o{
    float: left;
    border:  1px solid black;
    margin: 10px;
    padding: 20px;
    height: 55px;
    width: 100px;
    background-color: white;
    box-shadow: rgba(99,99,99,.2) 0 2px 8px 0;
    border: none;

     border-radius: 2px;
}

.sub2{

   padding-left: 60px;
  
   
}
.dow{

    background-color: white;
    padding: 10px;
    width: 390px;
    border-left: 10px solid rgb(92, 141, 92);
    padding: 1px;
    padding-left: 21px;
   
}
.points a{
    color: black;
    display: block;
    color: green;
    
}

.footer{

    grid-column: span 2;
    
    
    border-radius: 5px ;
}
.p1{
    background-color: #6e9665;
    padding: 10px;
    color: white;
}
.fl{
    display: flex;
    align-items: center;
    background-color: #4caf50;
    margin-top: 30px;
    
    padding: 10px;
    flex-wrap: wrap;
}

.fl li{


    display: block;
    
}
.f3{

    background-color: #3b753d;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;
}

@media screen and (max-width :600px){

    .container{

        display: flex;
        flex-direction: column;
    }
    
}