body
{

 background: url("../css/s.jpg");
   background-size: cover;
}

.a{
    
    color: white;
    margin-left: 500px;
    margin-top: 105px;
    width: 457px;
    height: 477px;
    background-color: rgba(0,0,0,0.7);
   
}

.inst{

   margin-left: 97px;
   margin-top: 14px;
   margin-bottom: 20px;
   border-radius: 10px;
   border: none;
}
.inst input{

    width: 240px;
    height: 40px;
    background-color: rgba(39, 31, 31, 0.3);
    border: none;
    border-radius: 2px;
    border: 1px solid rgba(196, 174, 174, 0.2);
    text-align: center;
    color: white;
}
.inst button{

    width: 240px;
    height: 35px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 3px;
}

.inst h3{

    margin-left: 104px;
}

.inst .wi{
    
    background-color: rgba(250, 241, 241, 0.637);
}

.in input{
    margin-left: 97px;
    transform: scale(1.3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inst a{
     margin-left: 58px;
     color: white;
     text-decoration: none;
}

.a h1{
  margin-left: 85px;
  padding-top: 19px;
}

.inst a:hover{

    text-decoration: underline;
}