.one{

    background-color: blue;
    width: 100px;
    height: 110px;
    margin-left: 30px;
    

}
.two{

    background-color: brown;
    width: 110px;
    height: 100px;
    position: relative;
    top: 10px;
    left: 120px;
}
.three{

    border: 1px solid black;
    width: 200px;
    height: 100px;
    

}
h1{

    position: relative;
    left: 70px; 
}
h2{

    position: sticky;
    left: 66px;
}
