table{
    border: 1px solid black;
    width: 400px;  
    margin: 100px 1005px 150px 280px;
    border-collapse: collapse;
}

table ,thead ,th,tr,tbody td,tfoot{
   
  
    border: 1px solid black;
    text-align: center;


}
table:hover{

color: blue;
    
}
h1{


    margin: 100px;
}


#as{

    text-align: right;
}