.container{

    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 10px;
    
  
}

div{

}

.head{

   grid-column: span 2;
}
.nav{

    grid-column: span 2;
    background-color: #2a2a2a;
    border-bottom:5px solid #e22d30;
   
    
}

li{
    display: inline;
    padding: 10px;
    color: white;
    
    
    
}
ul{
    display: flex;
    justify-content: start;
    padding: 0%;
    

}
.footer{
    grid-column: span 2;
    background-color: black;
    color: white;
}

.Sb2 p{

    margin-left: 5px;
    margin-top: 20px;
}
.Sb2 input{

    margin-left: 100px;
    margin-top: 40px;
}
@media (max-width: 600px){

    .con{

        display: flex;
       flex-direction: column;
       
    }

    .head{

        margin: auto;
    }
}
.main{

    padding: 20px auto;
}

   

input{
    margin: auto;
    width: 200px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.151);
   
}
.in{
    
    background-color: #f5f5f5;
    width: 400px;
    
}